.randomCharacter {
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}
.wrapperCharacters {
    height: auto;
    width: 650px;
    .characters {
        margin-top: 44px;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        gap: 38px 25px;
        margin-bottom: 45px;
    }
}
.bgImage {
    position: absolute;
    width: 467px;
    height: 372px;
    top: 1050px;
    left: 753px;
    z-index: -1;
}

.homePage {
    position: relative;
}